<?xml version="1.0" encoding="utf-8" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<jsp-config>
    <jsp-property-group>
        <url-pattern>/secure/*</url-pattern>
        <include-coda>footer.jsp</include-coda>
    </jsp-property-group>

    <jsp-property-group>
        <url-pattern>/LoggedOut/*</url-pattern>
        <include-coda>footer.jsp</include-coda>
    </jsp-property-group>
</jsp-config>

    <servlet>
        <servlet-name>log-out</servlet-name>
        <servlet-class>com.example.lab_5.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>log-out</servlet-name>
        <url-pattern>/logout/*</url-pattern>
    </servlet-mapping>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/secure/login-page.jsp</form-login-page>
            <form-error-page>/secure/login-error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SecureJsp</web-resource-name>
            <url-pattern>/secure/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>admin</role-name>
    </security-role>
</web-app>